* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: "Poppins", "sans-serif";
}

:root {
    --background-logo: #1e1e1e;
    --background-container: #fff;
    --border-hover: rgb(90, 183, 245);
}


body {
    background: var(--background-logo);
    display : flex;
    padding-top: 100px;
    justify-content: center;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-container);
}

.dashboard {
    background: var(--background-logo);
    width: 100%;
    padding: 16px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dashboard-icon {
    width: 390px;
    /* border: 1px solid #fff;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6px;
    margin-bottom: 10px;
}

.dashboard-icon button {
    cursor: pointer;
   display: flex;
   align-items: end;
   background: none;
   outline: none;
   border: none;
}

.box-search {
    display: flex;
    outline: none;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    width: 98%;
    height: 40px;
    /* padding:0 0 0 80px; */
}

.box-search::placeholder {
    color: #1e1e1e;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.input-container {
    border-radius: 4px;
    display: flex;
    padding: 0px 10px 0px 10px;
    /* justify-content: space-around; */
    align-items: center;
    background: #fff;
}

.box-input-filter {
    min-width: 80px;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-self: center;
}

.box-input-filter button {
    cursor: pointer;
    border: none;
    background: var(--background-container);
    width: 24px;
    height: 24px;
    
}

.box-input {
    display: flex;
    flex: 1;
    align-items: center;
}

.box-input button {
    cursor: pointer;
    border: none;
    background: var(--background-container);
}

.input-label {
    /* position: absolute; */
    top: 10px;
    left: 370px;
}

@media (min-width: 400px) { 

    .dashboard-desktop {
        display: none;
    }
    .dashboard-icon {
    border: 1px solid yellow; 
    }
    .input-container-desktop {
        display: none;
    }
 }

 @media (min-width: 1440px) { 
    .dashboard {
        height: 96px;  
    }
      .dashboard-desktop {
        display: flex;
        padding: 0px 50px;
        justify-content: space-between;
        width: 1440px;   
        background: var(--background-logo);
    }
 .dashboard-desktop button {
   cursor: pointer;
   display: flex;
   width: 171px;
   align-items: center;
   background: none;
   outline: none;
   border: none;
    }
    .dashboard-desktop li {
        cursor: pointer;
        display: flex;
        align-items: center;
        background: none;
        color: white;
        
         }
         .dashboard-desktop-group ul {
            gap: 40px;
            display: flex;
         }
    .dashboard-icon {
  display: none;
    }
    
 }


 .regua {
    display: block;
    margin: 0 auto;
    width: .1%;
    height: 32px;
    background: #1e1e1e;
}

.running {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.runnings {
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.runnings button {

    cursor: pointer;
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
}
.runnings-button {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid transparent;

}

.runnings-button h2{
    font-family: Poppins, "sans-serif";
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1.25px;
    
}

.runnings-button:hover {
    border: 2px solid var(--border-hover);

}

.results {
    margin-top: 16px;
}

.results h2 {
    font-family: montserrat, "sans-serif";
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 36px;
    color: var(--background-logo);
}

.results h3 {
    font-family: Poppins, "sans-serif";
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--background-logo);
    letter-spacing: 0.25px;
}

.runnings h2 {
    font-family: Poppins, "sans-serif";
    font-weight: 500;
    font-size: 13px;
    line-height: 10px;
    color: var(--background-logo);
    letter-spacing: 1.25px;
}

@media (min-width: 400px) { 
    
 }

 @media (min-width: 1440px) { 
    .running {
        display:flex;
        flex-direction: column;
    }
    .input-container {
       display: none;
    }
    .input-container-desktop {
        border-radius: 4px;
        width: 1140px;
        display: flex;
        gap: 24px;
        margin-top: 40px;
        justify-content: space-between;
        padding: 0px 10px 0px 10px;
        align-items: center;
     }
     .regua-desktop {
        display: block;
        margin: 0 auto;
        width: .1%;
        height: 40px;
        background: #1e1e1e;
     }
     .input-desktop-shoes {
        display: flex;
        background: #7c7c7c;
        flex: 1;
     }

     .input-container-desktop .box-search {
        background: #7c7c7c;
     }
    
 }

 

.all {
    display: flex;
    color: #eceff1;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.all button {
    border: none;
    cursor : pointer;
    border: 2px solid transparent;

}

.all button:hover {
    border: 2px solid var(--border-hover);

}

.allButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 400px) { 
    
}

@media (min-width: 1440px) { 
 
   
   
}

.shoes {
    display: flex;
    width: 100%;
    max-width: 350px;
    gap: 15px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

.foto {
    border: 2px solid transparent;
}

.foto:hover {
    border: 2px solid var(--border-hover);
}

.shoes h2 {
    font-weight: 400;
    max-width: 100%;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: var(--background-logo);
    word-break: break-word;
}

.shoes span {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: var(--background-logo);
    font-style: italic;
}

.stock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stockStar span {
    font-family: Poppins, "sans-serif";
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 0.2px;
    width: 100%;
    max-width: 1px;
}

h3.stockStar {
    font-family: Poppins, "sans-serif";
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 0.2px;
    word-break: break-word;
    

}

.green {
    display: flex;
    color: green;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.4px;


}

.red {
    color: #d33c2c;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.shoes h5 {
    font-family: montserrat, "sans-serif";
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1px;
    margin-top: 10px;
}

.shoes6 {
    display: flex;
    align-items: end;
}

.shoes6 h6 {
    display: flex;
    color: #7c7c7c;
    font-weight: 300;
    line-height: 16px;
    margin-left: 5px;
    text-decoration: line-through;
}

.add {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    
}

.toCart button {
    display: flex;
    padding: 10px;
    width: 100%;
    background: #1e1e1e;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1.25px;
   border: 2px solid transparent;

}

.toCart button:hover {
   border: 2px solid #ff007a;
}

.heart button {
    border: none;
   border: 2px solid transparent;
}

.heart button:hover {
    border: 2px solid var(--border-hover);
}

button.addColor {
    background: #7c7c7c;
}

.absolute {
  position: absolute;
  top: 5px;
  left: 8px;
}

.relative {
    position: relative;
}

@media (min-width: 400px) { 
    
}

@media (min-width: 1440px) { 
 
 
   
}

.next {
    margin-top: 30px;
}

.next button {
    background: transparent;
    border: 3px solid #1e1e1e;
    cursor: pointer;
    gap: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    
}

.next button:hover {
   border: solid 3px #0029ff;
}

@media (min-width: 400px) { 
    
}

@media (min-width: 1440px) { 
 
  
   
}

.pageButtons {
    margin-top: 20px;
    margin-bottom: 40px;
}

.pageButtons button {
    font-family: Poppins, "sans-serif";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.5px;
    align-items: center;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
   border: 2px solid transparent;

}

.pageButtons button:hover {
    border: 2px solid var(--border-hover);
    
}

button.clear {
    background: transparent;
}

@media (min-width: 400px) { 
    
}

@media (min-width: 1440px) { 
 
  
}
