* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: "Poppins", "sans-serif";
    a {
        text-decoration: none;
        color: var(--background-container);
     }
}

:root {
    --background-logo: #1e1e1e;
    --background-container: #fff;
    --border-hover: rgb(90, 183, 245);
}


body {
    background: var(--background-logo);
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-container);
}

.header {
    background: var(--background-logo);
    width: 100%;
    padding: 16px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6px;
    margin-bottom: 10px;
}

.header-icon button {
    cursor: pointer;
   display: flex;
   align-items: end;
   background: none;
   outline: none;
   border: none;
}

.box-search {
    display: flex;
    outline: none;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    width: 98%;
    height: 40px;
    /* padding:0 0 0 80px; */
}

.box-search::placeholder {
    color: #1e1e1e;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.input-container {
    border-radius: 4px;
    display: flex;
    padding: 0px 10px 0px 10px;
    /* justify-content: space-around; */
    align-items: center;
    background: #fff;
}

.box-input-filter {
    min-width: 80px;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-self: center;
}

.box-input-filter button {
    cursor: pointer;
    border: none;
    background: var(--background-container);
    width: 24px;
    height: 24px;
    
}

.box-input {
    display: flex;
    flex: 1;
    align-items: center;
}

.box-input button {
    cursor: pointer;
    border: none;
    background: var(--background-container);
}

.input-label {
    /* position: absolute; */
    top: 10px;
    left: 370px;
}

@media (max-width: 768px) { 

    .header-desktop {
        display: none;
    }
    .input-container-desktop {
        display: none;
    }
    .filters {
        display: none;
    }
    .home-search {
        display: none;
    }
 }

 @media (min-width: 768px) { 
    .header {
        height: 76px;  
    }
      .header-desktop {
        display: flex;
        padding: 0px 50px;
        align-items: center;
        justify-content: space-between;
        width: 768px;   
        background: var(--background-logo);
    }
 .header-desktop button {
   cursor: pointer;
   display: flex;
   width: 171px;
   align-items: center;
   background: none;
   outline: none;
   border: none;
    }
    .header-desktop li {
        cursor: pointer;
        display: flex;
        align-items: center;
        background: none;
        color: white;
        
         }
         a {
            text-decoration: none;
            color: var(--background-container);
         }
         .toggle.active {
        border-bottom: 1px solid #ffc831 ;

         }
         .header-desktop-group ul {
            gap: 40px;
            display: flex;
         }
    .header-icon {
  display: none;
    }
    .search {
        margin-top: 40px;
        gap: 30px;
        width: 640px;
    }
    .filters {
        width: 150px;
    }
    .search-regua {
        display: block;
        margin: 0 auto;
        width: .03%;
        height: 1500px;
        background: #cccccc;
    }

    .filters-regua {
        display: block;
        margin: 0 auto;
        width: 170px;
        height: .03%;
        background: #cccccc;

    }
    .filters-logo {
       gap: 10px;
       margin-bottom: 10px;
    }
    .filters-logo span {
        font-family: montserrat;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0px;
        color: 1e1e1e;
    }
    .filter-clear {
        display: flex;
        width: 190px;
        gap: 2px;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
    }
    .filter-clear span:first-child {
        font-family: montserrat;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: 1e1e1e;
        width: 120px;
    }
    .filter-clear span:last-child {
        font-family: Poppins;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.4px;
        color: 1e1e1e;
        width: 80px;
    }

.filter-all {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 5px;
    align-items: center;
    
}
.filter-all button {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border: none;

}
.filter-all span {
    font-family: Poppins;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: 1e1e1e;
    width: 40px;
}
.filter-categories {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.filter-button {
    font-family: Poppins;
    color: green;
    display: flex;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.2px;
    
}

.category {
    display:flex;
    justify-content: space-between;
}
.filter-stock {
    display: flex;
    justify-content: space-between;
}
.filters-stock {
    margin-top: 10px;
    margin-bottom: 10px;
}
.filter-size {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.filter-color {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.filter-check {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.filter-check-red input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: red;
    border-radius: 50px;
    width: 20px;
    height: 20px;
}
.filter-check-orange input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: orange;
    border-radius: 50px;
    width: 20px;
    height: 20px;
}
.filter-check-green input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #7cfc00;
    border-radius: 50px;
    width: 20px;
    height: 20px;
}
.filter-check-blue input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #00ffff;
    border-radius: 50px;
    width: 20px;
    height: 20px;
}
.filter-check-SlateBlue input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #0000cd;
    border-radius: 50px;
    width: 20px;
    height: 20px;
}
.filter-check-pink input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #ff00ff;
    border-radius: 50px;
    width: 20px;
    height: 20px;
}
.filter-check-purple input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: pink;
    border-radius: 50px;
    width: 20px;
    height: 20px;
}
.filter-check-DarkBlue input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #00bfff;
    border-radius: 50px;
    width: 20px;
    height: 20px;
}
.filter-check-Salmon input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: red;
    border-radius: 50px;
    width: 20px;
    height: 20px;
}
.filter-check-black input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: black;
    border-radius: 50px;
    width: 20px;
    height: 20px;
}
.filter-check-transparent input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 50px;
    width: 20px;
    height: 20px;
}
.home-search {
    display: flex;
    justify-content: space-between;
}
.home-search-results {
    font-family: Poppins;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #1e1e1e;
}
.home-search-results-shoes {
    font-family: montserrat;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #1e1e1e;
}
.home-search-results-shoes span {
    font-family: Poppins;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #1e1e1e;
}
.home-search-sort {
    display: flex;
    gap: 5px;
    cursor:pointer ;
    padding: 0px 6px;
    border-radius: 4px;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
}
.home-search-sort:hover {
    border: 1px solid var(--border-hover);

}

 }


 .regua {
    display: block;
    margin: 0 auto;
    width: .1%;
    height: 32px;
    background: #1e1e1e;
}
.running {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.runnings {
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.runnings button {

    cursor: pointer;
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
}
.runnings-button {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid transparent;

}

.runnings-button h2{
    font-family: Poppins, "sans-serif";
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1.25px;
    
}

.runnings-button:hover {
    border: 2px solid var(--border-hover);

}

.results {
    margin-top: 16px;
}

.results h2 {
    font-family: montserrat, "sans-serif";
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 36px;
    color: var(--background-logo);
}

.results h3 {
    font-family: Poppins, "sans-serif";
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--background-logo);
    letter-spacing: 0.25px;
}

.runnings h2 {
    font-family: Poppins, "sans-serif";
    font-weight: 500;
    font-size: 13px;
    line-height: 10px;
    color: var(--background-logo);
    letter-spacing: 1.25px;
}

 @media (min-width: 768px) { 
    .running {
        display:flex;
        flex-direction: column;
    }
    .input-container {
       display: none;
    }
    .input-container-desktop {
        border-radius: 4px;
        width: 625px;
        gap: 10px;
        display: flex;
        margin-top: 40px;
        justify-content: space-between;
        align-items: center;
     }
     .regua-desktop {
        display: block;
        margin: 0 auto;
        width: .1%;
        height: 40px;
        background: #1e1e1e;
     }
     .input-desktop-shoes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 16px;
        gap: 2px;
        background: #eceff1;
        flex: 1;
     }

     .input-container-desktop .box-search {
        background: #eceff1;
     }
     .input-container-desktop .box-input-filter {
        display: flex;
        align-items: center;
        gap: 10px;
     }
     .input-container-desktop .box-input-filter span{
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
     }
     .input-container-desktop .box-input-filter button {
        background: transparent;
        width: 24px;
        height: 24px;
     }
     .input-container-desktop .box-input-filter .box-search::placeholder {
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
     }
    .box-input-desktop {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .box-input-desktop .input-label button {
        cursor: pointer;
        border: none;
        background: transparent;
    }
    .input-desktop-cart {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background: #ffc831;
        width: 156px;
        height: 48px;
    }

    .input-desktop-cart button {
        background: none;
        border: none;
    }
    .input-desktop-cart span {
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1.25px;
    }
    .results {
        display: none;
    }
    .runnings {
        display: none;
    }
    section.all {
        display: none;
    }
    
 }

.all {
    display: flex;
    color: #eceff1;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.all button {
    border: none;
    cursor : pointer;
    border: 2px solid transparent;

}

.all button:hover {
    border: 2px solid var(--border-hover);

}

.allButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 650px;
    gap: 16px;
    margin-top: 30px;
}

.foto img {
    display: block;
    width: 100%;
    border: 2px solid transparent;
}

.foto:hover {
    border: 2px solid var(--border-hover);
}

.shoes h2 {
    font-weight: 400;
    max-width: 100%;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: var(--background-logo);
    word-break: break-word;
}

.shoes span {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: var(--background-logo);
    font-style: italic;
}

.stock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stockStar span {
    font-family: Poppins, "sans-serif";
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 0.2px;
    width: 100%;
    max-width: 1px;
}

h3.stockStar {
    font-family: Poppins, "sans-serif";
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 0.2px;
    word-break: break-word;
    

}

.green {
    display: flex;
    color: green;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.4px;


}

.red {
    color: #d33c2c;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.shoes h5 {
    font-family: montserrat, "sans-serif";
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1px;
    margin-top: 10px;
}

.shoes6 {
    display: flex;
    align-items: end;
}

.shoes6 h6 {
    display: flex;
    color: #7c7c7c;
    font-weight: 300;
    line-height: 16px;
    margin-left: 5px;
    text-decoration: line-through;
}

.add {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    
}

.toCart button {
    display: flex;
    padding: 10px;
    width: 100%;
    background: #1e1e1e;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1.25px;
   border: 2px solid transparent;

}

.toCart button:hover {
   border: 2px solid #ff007a;
}

.heart button {
    border: none;
   border: 2px solid transparent;
}

.heart button:hover {
    border: 2px solid var(--border-hover);
}

button.addColor {
    background: #7c7c7c;
}

.absolute {
  position: absolute;
  top: 5px;
  left: 8px;
}

.relative {
    position: relative;
}

@media (min-width: 768px) { 
    .search {
        display: flex;
    }
    
}
.next {
    display: flex;
    justify-content: center;
    width: 150px;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    margin-top: 30px;
    border: 3px solid #1e1e1e;
}
.next button {
    background: transparent;
    border: none;
    cursor: pointer;
}
.next-pageButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.next:hover {
   border: solid 3px #0029ff;
}


.pageButtons {
    margin-top: 20px;
    margin-bottom: 40px;
}

.pageButtons button {
    font-family: Poppins, "sans-serif";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.5px;
    align-items: center;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
   border: 2px solid transparent;

}

.pageButtons button:hover {
    border: 2px solid var(--border-hover);
    
}

button.clear {
    background: transparent;
}
.footer {
    display: flex;
    justify-content:center;
    padding: 20px 0px;
    padding: 16px;
    color: var(--background-container);
    background: var(--background-logo);
    width: 100%;
    height: 125px;
}
.footer h2 {
    font-family: Poppins, "sans-serif";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
}
.footer a:hover {
   color: #d33c2c ;
  
}


@media (min-width: 767px) { 
    .desktop-next-pageButton {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row;
    }
    .home-search-sort img {
        margin-top: 8px;
    }
    
}

@media(min-width: 1440px ) {
    .header-desktop {
        width: 1440px;
    }
    .input-container-desktop { 
        width: 1140px; 
     }
     .search {
        
        width: 1124px;
    }
    .home-search {
        max-width: 860px;
    }
   
    .shoes {
        max-width: 860px;
        gap: 22px;

    }
    .shoes h2 {
        font-weight: 500;
        width: 256px;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: var(--background-logo);
        word-break: break-word;
    }
    .shoes span {
        font-family: Poppins;
        font-weight: 300;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.5px;
        font-style: italic;
    }
    .toCart button {
        display: flex;
        justify-content: center;
        width: 209px;
        flex: 1;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 1.25px;
    }
    
}
